.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

/* Profile image animation */
.hero__img-content {
  position: relative;
  width: 10rem;
  height: 10rem;
  /* background: rgba(0, 0, 0, 0.5); */
  border-radius: 50%;
  overflow: hidden;
}

.hero__img-content::before {
  content: "";
  position: absolute;
  inset: -10px 10px;
  background: var(--clr-trans);
  border-radius: 50%;
  transition: 3s;
  animation: animate 6s linear infinite;
}

.hero__img-content::before {
  inset: -10px 3px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hero__img-content::after {
  content: "";
  position: absolute;
  inset: 0.55rem;
  background: var(--clr-dark);
  border-radius: 50%;
  transition: 0.5s;
  z-index: 1;
}

.hero__animate-content {
  position: absolute;
  inset: 0.75rem;
  /* border: 6px solid var(--clr-slate400); */
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero__animate-content .hero__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.85s;
  pointer-events: none;
  z-index: 3;
  background: var(--clr-dark);
}

.hero__img-content:hover .hero__animate-content .hero__img {
  opacity: 0;
}

.hero__animate-content h2 {
  position: relative;
  font-size: var(--size-sm);
  text-align: center;
  color: var(--clr-light);
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.hero__animate-content h2 span {
  font-weight: 600;
  font-size: var(--size-xxs);
  letter-spacing: 0.05em;
}

.hero__animate-content .hero__animate-btn {
  position: relative;
  margin-top: 10px;
  border-radius: 25px;
  font-weight: 600;
  font-size: var(--size-xxs);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: 0.5s;
}

/* .hero__img {
  border-radius: 50%;
  border: 2px solid var(--clr-slate400);
  width: 6rem;
  height: 6rem;
} */

/* Normal hero styling continues from here */
.hero__subtitle {
  color: var(--clr-slate400);
  font-size: var(--size-base);
  line-height: 0.9;
}

.hero__title {
  color: var(--clr-slate400);
  text-transform: uppercase;
  font-size: var(--size-4xl);
  letter-spacing: -0.05em;
  line-height: 0.9;
}

.hero__description {
  max-width: 60ch;
  font-size: var(--size-sm);
  color: var(--clr-slate600);
}

.hero__btn {
  text-transform: capitalize;
  font-size: var(--size-sm);
}

/* xs */
@media (min-width: 475px) {
  .hero {
    gap: 1.5rem;
  }

  .hero__img {
    width: 6.5rem;
    height: 6.5rem;
  }

  .hero__subtitle {
    font-size: var(--size-lg);
  }

  .hero__title {
    font-size: var(--size-5xl);
  }

  .hero__description {
    font-size: var(--size-base);
  }

  .hero__btn {
    font-size: var(--size-base);
  }
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 1024px) {
  .hero__img {
    width: 8rem;
    height: 8rem;
  }

  .hero__subtitle {
    font-size: var(--size-2xl);
  }

  .hero__title {
    font-size: var(--size-7xl);
  }

  .hero__description {
    font-size: var(--size-lg);
  }

  .hero__btn {
    font-size: var(--size-lg);
  }
}

/* xl */
@media (min-width: 1280px) {
  .hero {
    gap: 2rem;
  }
  .hero__img {
    width: 10rem;
    height: 10rem;
  }

  .hero__subtitle {
    font-size: var(--size-4xl);
  }

  .hero__title {
    font-size: var(--size-9xl);
  }

  .hero__description {
    font-size: var(--size-xl);
  }

  .hero__btn {
    font-size: var(--size-xl);
  }
}

/* 2xl */
@media (min-width: 1536px) {
}
